@page "{days=10}"
@using System.Collections
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="row text-center">
    <div class="col-md-12">
        <h4>Weather forecast</h4>
    </div>
    <div class="col-md-12">
        <div>
            Days:@Model.Days
        </div>

        <input type="range" min="1" max="30" value='@RouteData.Values["days"]' onchange="changeDayCount(this.value)">
        <ul>
            @if (Model.Forecasts != null)
            {
                foreach (var forecast in Model.Forecasts)
                {
                    <li>@forecast.Date.ToString("dd/MM/yyyy") - @forecast.Summary</li>
                }

                if (Model.Forecasts.Count() == 0)
                {
                    <li>No forecast available</li>
                }
            }
        </ul>
    </div>
</div>

@section scripts{
<script>
    $(document).ready(function () {



    });
    function changeDayCount(count) {
        $.ajax({
            type: 'GET',
            data: { days: count},
            url: '@Url.Page("index")',
            success: function (result) {
                console.log(result);
                window.location = count;
            }
    });
    }
</script>
}
